<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123770882118-vf3021nuqlhjfpvt6jhh3f04at6cnuh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123770882118-vf3021nuqlhjfpvt6jhh3f04at6cnuh5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>123770882118-27kbihdm4ihv5fefqqjifnapt4oln4db.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1WolSBGM4T6-F5I9Sm185eHGj7YtesZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>123770882118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anholding.app</string>
	<key>PROJECT_ID</key>
	<string>an-holdings-crm-app</string>
	<key>STORAGE_BUCKET</key>
	<string>an-holdings-crm-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123770882118:ios:237e771d2b539381112247</string>
</dict>
</plist>